<div class="col-sm-2 col-md-2 col-lg-2">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">用户管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="/user/list">用户列表</a></li>
            <li><a href="/user/add">添加用户</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">角色管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="/role/list">角色列表</a></li>
            <li><a href="/role/add">添加角色</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">权限管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="/access/list">权限列表</a></li>
            <li><a href="/access/add">添加权限</a></li>
        </ul>

        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">日志管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="/log/list">日志列表</a></li>
        </ul>
    </div>
</div>