server:
  port: 8123
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/junmeng
    username: root
    password: root
  thymeleaf:
    cache: false
  devtools:
    restart:
      exclude: static/**,templates/** #某些资源的更新不用触发重启
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss #格式化返回json中日期的格式
    time-zone:  GMT+8  #北京时区，默认为GMT,会少8个小时
logging:
  level: debug

devtools:
    restart:
      exclude: static/**,templates/** #某些资源的更新不用触发重启
