<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="../../static/common/css/bootstrap.min.css" th:href="@{/common/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/common/css/app.css" th:href="@{/common/css/app.css}"  rel="stylesheet" media="screen"/>
    <script src="../../static/common/js/jquery-3.2.1.js" th:src="@{/common/js/jquery-3.2.1.js}"></script>
    <script src="../../static/userMgr/list.js" th:src="@{/userMgr/list.js}"></script>
</head>

<body>

<!--头部-->
<header th:replace="/common/top_header :: header"></header>
<div class="container-fluid">

    <!--左侧导航条-->
    <div th:insert="/common/left_navigation"></div>


    <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2" style="background-color: #1b6d85">
        <table border="2">
            <tr>
                <td></td>
                <td>序号</td>
                <td>角色id</td>
                <td>角色名称</td>
                <td>状态</td>
                <td>创建时间</td>
                <td>更新时间</td>
                <td>操作</td>
            </tr>

            <!--/*@thymesVar id="userList" type="com.junmeng.handsome.entity.User"*/-->
            <tr th:each="role: ${roleList}">
                <td class="bs-checkbox ">
                    <input data-index="0" name="btSelectItem" type="checkbox" value="0">
                </td>
                <td th:text="${roleStat.index}">序号</td>
                <td th:text="${role.roleId}">用户id</td>
                <td th:text="${role.roleName}">用户id</td>
                <td th:text="${role.status}">用户id</td>
                <td th:text="${#dates.format(role.createTime,'yyyy-MM-dd HH:mm:ss')}">yyyy-MM-dd HH:mm:ss</td>
                <td th:text="${#dates.format(role.updateTime,'yyyy-MM-dd HH:mm:ss')}">yyyy-MM-dd HH:mm:ss</td>
                <td>
                    <button type="button" class="btn btn-primary">修改</button>
                    <button type="button" class="btn btn-primary">删除</button>
                </td>
            </tr>
        </table>
        <!-- Split button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default">每页</button>
            <button type="button" class="btn  btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">10</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">50</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <footer th:replace="/common/footer :: footer"></footer>
    </div>

</div>
</body>
</html>