<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="../static/common/css/bootstrap.min.css" th:href="@{/common/css/bootstrap.min.css}" rel="stylesheet"
          media="screen"/>
    <link href="../static/common/css/app.css" th:href="@{/common/css/app.css}" rel="stylesheet" media="screen"/>
    <script src="../static/common/js/jquery-3.2.1.js" th:href="@{/common/js/jquery-3.2.1.js}"></script>

</head>

<body>

<!-- 头部 这种写法，如果top_header中有多个header tag，则都引入进来 -->
<header th:replace="/common/top_header :: header"></header>

<div class="container-fluid">

    <!--左侧导航条-->
    <div th:insert="/common/left_navigation"></div>

    <!--内容区-->
    <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">

        <!--底部-->
        <!--以下四种写法效果都一致，但有微小差别-->
        <!--<footer th:replace="/common/footer :: footer"></footer>-->
        <!--不会保留div,而是直接替换掉-->
        <!--div th:replace="/common/footer :: footer"></div>-->
        <!--“copy”为th:fragment中的值-->
        <div th:replace="/common/footer :: copy"></div>
        <!--仍然保留div,即在内部插入（注意会将内容原封不动插入），与上面的replace不同-->
        <!--<div th:insert="/common/footer"></div>-->
    </div>

</div>
</body>
</html>